body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: impact, cursive;
}

h2 {
    color: #30c530;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #ac1018, #a0af1a, #aa2789);
    color: rgb(8, 2, 2);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #01031f;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #d84a08;
}